[Unit]
Description=Gunicorn (Rev OCPP)
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
ExecStart=/usr/local/bin/central_system.sh
Restart=always

[Install]
WantedBy=multi-user.target
